@charset "utf-8";
/**
 *Filename:    index.css
 *Description: global css
 *Version:     0.0.0(2019-03-25)
 *Author:      frank
 */

#studyAbroad{
	background-color: #f2f2f2;
}
#studyAbroad .mpanel{
	position: relative;
    background-color: #fff;
    padding-bottom: 10px;
}
#studyAbroad .distance20{
	margin-top: 10px;
    padding-top: 20px;
}
#studyAbroad .tag{
	position: absolute;
	top: -10px;
	width: 100%;
	height: 50px;
	padding: 10px 0 0 10px;
	font-size: 18px;
	text-align: left;
	font-family: PingFangSC-regular;
	color: rgba(255, 255, 255, 1);
    background-image: url(../images/studyAbroad/sa_tag1.png);
	background-repeat: no-repeat;
}
#studyAbroad .tag1{
    background-image: url(../images/studyAbroad/sa_tag1.png);
}
#studyAbroad .tag2{
    background-image: url(../images/studyAbroad/sa_tag2.png);
}
#studyAbroad .tag3{
    background-image: url(../images/studyAbroad/sa_tag3.png);
}
#studyAbroad .tag4{
    background-image: url(../images/studyAbroad/sa_tag4.png);
}
#studyAbroad .tag5{
    background-image: url(../images/studyAbroad/sa_tag5.png);
}
#studyAbroad .img{
	width: 100%;
    height: 120px;
	border-radius: 8px 8px 0 0;
    background-image: url(../images/studyAbroad/sa_2.jpg);
    background-size: 100% 240px;
}
#studyAbroad .img1{
    background-image: url(../images/studyAbroad/sa_2.jpg);
}
#studyAbroad .img2{
    background-image: url(../images/studyAbroad/sa_3.jpg);
}
#studyAbroad .img3{
    background-image: url(../images/studyAbroad/sa_4.jpg);
}
#studyAbroad .img4{
    background-image: url(../images/studyAbroad/sa_5.png);
}
#studyAbroad .img5{
    background-image: url(../images/studyAbroad/sa_6.jpg);
}
#studyAbroad .mbox{
	padding-bottom: 1px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px 0px rgba(170, 170, 170, 1);
}
#studyAbroad .mylist{
	padding-left: 0;
}
#studyAbroad .mylist li{
	margin: 4px 0 2px 0;
	list-style: none;
	color: rgba(51, 51, 51, 1);
	font-size: 14px;
	font-family: PingFangSC-regular;
}
#studyAbroad .mylist li:after{
	content: '';
	display: block;
	width: 0;
	clear: both;
}
#studyAbroad .mylist .mylist-title{
	float: left;
    max-width: 240px;
	padding-left: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#studyAbroad .mylist .mylist-date{
	float: right;
    padding-right: 12px;
}
/*消息列表*/
#sa_list .news-list{
	border-bottom: 1px solid #ddd;
}
#sa_list .news-list .news-list-title{
	width: 100%;
	padding: 15px 0;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sa_list .news-list .news-list-date{
	width: 100%;
	padding: 15px 0;
	line-height: 20px;
	font-size: 14px;
	text-align: right;
}
/*详情*/
#sa_detail{
	position: relative;
}
#sa_detail .bg-blue{
	background-color: #3CAAEF;
}
#sa_detail .bg-orange{
	background-color: #f76f35;
}
#sa_detail .bg-green{
	background-color: #50c9a9;
}
#sa_detail .bg-yellow{
	background-color: #f0be5a;
}
#sa_detail #sa_typee{
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 40px;
	margin: 0 -14px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    color: #fff;
}
#sa_detail #sa_line{
    position: fixed;
    top: 40px;
	left: 0;
    width: 100%;
    height: 4px;
    padding: 8px 0 10px;
    margin: 0 -14px;
    background-color: #f2f2f2;
}
#sa_detail #sa_line1{
    height: 4px;
    background-color: #3caaef;
}
#sa_detail #sa_detail_div{
	margin-top: 72px;
}
#sa_detail #sa_detail_title{
    text-align: center;
	font-weight: 600;
}
#sa_detail #sa_detail_date{
    padding-top: 4px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

/*详情*/
#sa_detail{
	position: relative;
}
#sa_detail .bg-blue{
	background-color: #3CAAEF;
}
#sa_detail .bg-orange{
	background-color: #f76f35;
}
#sa_detail .bg-green{
	background-color: #50c9a9;
}
#sa_detail .bg-yellow{
	background-color: #f0be5a;
}

#sa_detail #sa_line{
    position: fixed;
    top: 40px;
	left: 0;
    width: 100%;
    height: 4px;
    padding: 8px 0 10px;
    margin: 0 -14px;
    background-color: #f2f2f2;
}
#sa_detail #sa_line1{
    height: 4px;
    background-color: #3caaef;
}
#sa_detail #sa_detail_div{
	margin-top: 72px;
}
#sa_detail #sa_detail_title{
    text-align: center;
	font-weight: 600;
}
#sa_detail #sa_detail_date{
    padding-top: 4px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

